<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <!-- TITULO -->
  <div fxLayoutAlign="center center">
    <h3>DATOS PARA LA NUEVA DIETA</h3>
  </div>
  <!-- CAMPOS -->
  <mat-dialog-content>
      <form [formGroup]="dietaFormGroup">
        <div fxLayout.xs="column" fxLayoutAlign="center center" fxFlex="100%" fxLayoutGap="10px">
          <!-- PACIENTE -->
          <mat-form-field fxFlex.gt-sm="50%">
            <mat-select placeholder="Paciente" formControlName="paciente" required>
              <mat-option *ngFor="let paciente of pacientes | async" [value]="paciente.codigo_paciente">
                {{ paciente.apellido | uppercase }}, {{ paciente.nombre | uppercase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row">
            <button color="primary" mat-raised-button (click)="agregarPaciente()">AGREGAR NUEVO PACIENTE</button>
          </div>
        </div>
        <br>
        <div fxLayout.xs="column">
          <!-- HIDRATOS -->
          <mat-form-field>
            <input matInput type="number" placeholder="Hidratos de Carbono" formControlName="hidratos" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- PROTEINAS -->
          <mat-form-field>
            <input matInput type="number" placeholder="Proteinas" formControlName="proteinas" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- GRASAS -->
          <mat-form-field>
            <input matInput type="number" placeholder="Grasas" formControlName="grasas" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- FIBRAS -->
          <mat-form-field>
            <input matInput type="number" placeholder="Fibras" formControlName="fibras" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <br>    
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div fxLayout.xs="column" fxLayoutAlign="center center">
        <button mat-button (click)="agregarNuevaDieta()">
          <mat-icon>restaurant_menu</mat-icon>Guardar Dieta</button>
        <button mat-button (click)="onCloseCancel()">
          <mat-icon>cancel</mat-icon>Cancelar</button>
      </div>
    </mat-dialog-actions>
</div>

