<div *ngFor="let referencia of dietaReferencia">
  <div fxLayout="column" id="contenido">
    <!-- TITULO -->
    <div fxLayoutAlign="center center">
      <h3>DETALLES PARA LA DIETA #{{ referencia.codigo_dieta }}</h3>
    </div>
    <form [formGroup]="referenciasFormGroup">
      <!-- TABLA DE REFERENCIAS -->
      <div fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="10px">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput formControlName="hidratosCarbonoForm" placeholder="Hidratos de Carbono (g)" value="{{ referencia.hidratos_carbono | number:'1.1-2' }}">
            <mat-hint align="start">
              <strong>Minimo:</strong>{{ referencia.hidratos_carbono - 5}}
            </mat-hint>
            <mat-hint align="end">
              <strong>Maximo:</strong>{{ referencia.hidratos_carbono + 5}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field >
            <input matInput formControlName="proteinasForm" placeholder="Proteinas (g)" value="{{ referencia.proteinas | number:'1.1-2' }}">
            <mat-hint align="start">
              <strong>Minimo:</strong>{{ referencia.proteinas - 5}}
            </mat-hint>
            <mat-hint align="end">
              <strong>Maximo:</strong>{{ referencia.proteinas + 5}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field >
            <input matInput formControlName="grasasForm" placeholder="Grasas (g)" value="{{ referencia.grasas | number:'1.1-2' }}">
            <mat-hint align="start">
              <strong>Minimo:</strong>{{ referencia.grasas - 5}}
            </mat-hint>
            <mat-hint align="end">
              <strong>Maximo:</strong>{{ referencia.grasas + 5}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field >
            <input matInput formControlName="fibrasForm" placeholder="Fibras (g)" value="{{ referencia.fibras | number:'1.1-2' }}">
            <mat-hint align="start">
              <strong>Minimo:</strong>{{ referencia.fibras * 0.95 | number:'1.1-2' }}
            </mat-hint>
            <mat-hint align="end">
              <strong>Maximo:</strong>{{ referencia.fibras * 1.05 | number:'1.1-2' }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <!-- TABLA DE SUMATORIAS -->
      <div class="bordeado" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="12px" matTooltip="Verde: dentro del rango, Azul: por debajo, Rojo: por encima">
        <div fxLayout="column">
          <strong>TOTALES</strong>
          <small>Segun Alimentos</small>
        </div>
        <div fxLayout="column" [ngStyle]="{'color': calculaColorHidrato(referencia.hidratos_carbono)}">
          <strong>Hidratos</strong>
          <small>{{ sumatoriaHC | number:'1.1-2' }}</small> 
          <small>({{ kcalHC | number:'1.1-2' }} kcal)</small>
        </div>
        <div fxLayout="column" [ngStyle]="{'color': calculaColorProteina(referencia.proteinas)}" matTooltip="% PAVB: {{(100*sumatoriaPAVB)/sumatoriaProteinas | number:'1.1-1' }}%">
          <strong>Proteinas</strong>
          <div><small>{{ sumatoriaProteinas | number:'1.1-2' }} (PAVB:{{ sumatoriaPAVB | number:'1.1-2' }})</small></div>
          <small>({{ kcalProteinas | number:'1.1-2' }} kcal)</small>
        </div>
        <div fxLayout="column" [ngStyle]="{'color': calculaColorGrasa(referencia.grasas)}">
          <strong>Grasas</strong>
          <small>{{ sumatoriaGrasas | number:'1.1-2' }}</small><small>({{ kcalGrasas | number:'1.1-2' }} kcal)</small>
        </div>
        <div fxLayout="column" [ngStyle]="{'color': calculaColorFibra(referencia.fibras)}">
          <strong>Fibras</strong>
          <small>{{ sumatoriaFibras | number:'1.1-2' }}</small><small>({{ kcalFibras | number:'1.1-2' }} kcal)</small>
        </div>
        <div fxLayout="column">
          <strong>Sodio</strong>
          <small>{{ sumatoriaSodio | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Potasio</strong>
          <small>{{ sumatoriaPotasio | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Fosforo</strong>
          <small>{{ sumatoriaFosforo | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Calcio</strong>
          <small>{{ sumatoriaCalcio | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Hierro</strong>
          <small>{{ sumatoriaHierro | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Colesterol</strong>
          <small>{{ sumatoriaColesterol | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Purinas</strong>
          <small>{{ sumatoriaPurinas | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
          <strong>Agua</strong>
          <small>{{ sumatoriaAgua | number:'1.1-2' }}</small>
        </div>
        <div fxLayout="column">
            <strong>Calorias</strong>
            <small>{{ sumatoriaCalorias | number:'1.1-2' }}</small>
          </div>
      </div>
      <br>
    </form>
    
    <br>
    <!-- TABLA DE ALIMENTOS FULLSCREEN-->
    <div fxShow fxHide.xs fxFlex="1 1 100%" matTooltip="Los alimentos con Alto Valor Biologico estan resaltados.">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="cantidad_alimento">
            <mat-header-cell *matHeaderCellDef fxFlex="9%"> Cant. </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxLayout="row" fxFlex="9%"> 
              <mat-form-field fxFlex="55%">
                  <input matInput
                         type="number"
                         #nuevaCantidad
                         value="{{ detalle.cantidad_alimento }}">  
              </mat-form-field>
              <button fxFlexAlign="start" color="primary" mat-icon-button (click)="actualizarCantidad(nuevaCantidad.value, detalle.numero_item)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxFlex="10%"> {{ detalle.alimento.descripcion_tipo_alimento }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef fxFlex="30%"> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxFlex="30%"> 
              <div>{{ detalle.alimento.descripcion_alimento }}</div>
              <div>({{ detalle.alimento.medida_casera * detalle.cantidad_alimento }} {{ detalle.alimento.medida_casera_unidad }}: {{ detalle.alimento.medida_real * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.medida_real_unidad }}) </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hidratos">
            <mat-header-cell *matHeaderCellDef fxFlex="17%"> </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxFlex="17%"> 
              <div><strong>Hidratos: </strong>{{ detalle.alimento.hidratos_carbono * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_hidratos_carbono }}</div>
              <div><strong>Proteinas: </strong>{{ detalle.alimento.proteina * detalle.cantidad_alimento | number:'1.1-2' }}  {{ detalle.alimento.unidad_medida_proteina }}</div>
              <div><strong>Grasas: </strong>{{ detalle.alimento.grasa * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_grasa }}</div>
              <div><strong>Fibras: </strong>{{ detalle.alimento.fibra * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_fibra }}</div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sodio">
            <mat-header-cell *matHeaderCellDef fxFlex="17%"> Detalles </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxFlex="17%"> 
              <div><strong>Sodio: </strong>{{ detalle.alimento.sodio * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_sodio }}</div>
              <div><strong>Potasio: </strong>{{ detalle.alimento.potasio * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_potasio }}</div>
              <div><strong>Fosforo: </strong>{{ detalle.alimento.fosforo * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_fosforo }}</div>
              <div><strong>Calcio: </strong>{{ detalle.alimento.calcio * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_calcio }}</div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hierro">
            <mat-header-cell *matHeaderCellDef fxFlex="17%"> </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxFlex="17%"> 
              <div><strong>Hierro: </strong>{{ detalle.alimento.hierro * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_hierro }}</div>
              <div><strong>Purinas: </strong>{{ detalle.alimento.purinas * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_purinas }}</div>
              <div><strong>Colest.: </strong>{{ detalle.alimento.colesterol * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_colesterol }}</div>
              <div><strong>Agua: </strong>{{ detalle.alimento.agua * detalle.cantidad_alimento | number:'1.1-2' }} {{ detalle.alimento.unidad_medida_agua }}</div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="calorias">
            <mat-header-cell *matHeaderCellDef fxFlex="7%"> Calorias </mat-header-cell>
            <mat-cell *matCellDef="let detalle" fxFlex="5%"> 
              <div>
                 <div>{{ detalle.alimento.calorias * detalle.cantidad_alimento | number:'1.1-2' }}</div>
              </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef fxFlex="4%"></mat-header-cell>
          <mat-cell *matCellDef="let detalle" fxFlex="4%"> 
            <button fxFlex="45px" fxLayoutAlign="center center" mat-icon-button (click)="quitarAlimento(detalle.numero_item)" matTooltip="Quitar este alimento a la dieta">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
      </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.background]="alimentoTipo(row)"></mat-row>
      </mat-table>
    </div>
    <br>
    <!-- TABLA DE ALIMENTOS MOBILE-->
    <div fxShow.xs fxHide.gt-sm matTooltip="Los alimentos con Alto Valor Biologico estan resaltados.">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef> Alimento </mat-header-cell>
              <mat-cell *matCellDef="let detalle"> {{ detalle.alimento.descripcion_alimento }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="distribucion">
              <mat-header-cell *matHeaderCellDef> Datos </mat-header-cell>
              <mat-cell *matCellDef="let detalle">  
                <div><strong>Cant: </strong>{{ detalle.cantidad_alimento }}</div>
                <div><strong>HC: </strong>{{ detalle.alimento.hidratos_carbono }}</div>
                <div><strong>Prot.: </strong>{{ detalle.alimento.proteina }}</div>
                <div><strong>Grasa: </strong>{{ detalle.alimento.grasa }}</div>
                <div><strong>Fibra: </strong>{{ detalle.alimento.fibra }}</div>
              </mat-cell>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let detalle"> 
              <button fxFlex="45px" fxLayoutAlign="center center" mat-icon-button (click)="quitarAlimento(detalle.numero_item)" matTooltip="Quitar este alimento a la dieta">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
        </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsMobile"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsMobile;" [style.background]="alimentoTipo(row)"></mat-row>
        </mat-table>
      </div>
      <br>
  </div>
  <!-- BOTONES AGREGAR / ELIMINAR / CANCELAR -->
  <div fxLayout="column">
    <button color="primary" mat-raised-button (click)="agregarAlimento()"><mat-icon>playlist_add</mat-icon>AGREGAR ALIMENTOS</button>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button (click)="onCloseCancel()"><mat-icon>close</mat-icon>Cerrar</button>
      <button mat-raised-button color="accent" (click)="descargarPDF(referencia.codigo_dieta)"><mat-icon>save_alt</mat-icon>Exportar a PDF..</button>
    </div>
  </div>
</div>
