<div fxLayout="column">
    <div>
        <div fxLayoutAlign="end" fxLayoutAlign.xs="center">
            <button mat-raised-button (click)="onCloseCancel()"><mat-icon>close</mat-icon></button>
        </div>
        <div fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div>
                <mat-icon>search</mat-icon>
                <mat-form-field>
                    <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Buscar Alimento">
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                            #cantidad  
                            placeholder="Cantidad del Alimento*" 
                            [formControl]="cantidadFormControl"
                            autofocus>
                    <mat-error *ngIf="cantidadFormControl.errors?.min || cantidadFormControl.errors?.required">
                        La <strong>cantidad</strong> debe ser mayor a cero.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>    
    <div fxShow fxHide.xs>  
        <mat-table [dataSource]="dataSource" matSort fxLayout="column" fxLayoutAlign="space-evenly">
            <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef fxFlex="40px"> Cod. </mat-header-cell>
                <mat-cell *matCellDef="let alimento" fxFlex="40px"> {{alimento.codigo_alimento}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="25%"> Descripcion </mat-header-cell>
                <mat-cell *matCellDef="let alimento" fxFlex="25%"> {{alimento.descripcion_alimento}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{alimento.descripcion_tipo_alimento}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="medida">
                <mat-header-cell *matHeaderCellDef> Medida </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{alimento.medida_casera}} {{ alimento.medida_casera_unidad}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hidratos">
                <mat-header-cell *matHeaderCellDef> Hidratos </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{alimento.hidratos_carbono}} {{ alimento.unidad_medida_hidratos_carbono}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="proteinas">
                <mat-header-cell *matHeaderCellDef> Proteinas </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{alimento.proteina}} {{ alimento.unidad_medida_proteina}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="grasas">
                <mat-header-cell *matHeaderCellDef> Grasas </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{alimento.grasa}} {{ alimento.unidad_medida_grasa}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fibras">
                <mat-header-cell *matHeaderCellDef> Fibra </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{alimento.fibra}} {{ alimento.unidad_medida_fibra}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edicion">
                <mat-header-cell *matHeaderCellDef fxFlex="95px"> Detalles </mat-header-cell>
                <mat-cell *matCellDef="let alimento" fxLayout="row" fxFlex="95px"> 
                    <button fxFlex="45px" fxLayoutAlign="center center" color="accent" mat-raised-button (click)="detalleAlimento(alimento.codigo_alimento)" matTooltip="Ver detalles del Alimento">
                        <mat-icon>info</mat-icon>
                    </button> 
                    <button fxFlex="45px" fxLayoutAlign="center center" color="primary" mat-raised-button (click)="agregarAlimento(alimento.codigo_alimento, cantidad.value)" matTooltip="Agregar este alimento a la dieta">
                        <mat-icon>playlist_add</mat-icon>
                    </button>
                </mat-cell>
                <mat-cell *matCellDef="let alimento">  </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <!-- TABLA DE ALIMENTOS MOBILE-->
    <div fxShow.xs fxHide.gt-sm>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef> Cant. </mat-header-cell>
                <mat-cell *matCellDef="let alimento"> {{ alimento.descripcion_alimento }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="distribucion">
                <mat-header-cell *matHeaderCellDef> Distribucion </mat-header-cell>
                <mat-cell *matCellDef="let alimento">  
                    <div><strong>HC: </strong>{{ alimento.hidratos_carbono }}</div>
                    <div><strong>Prot.: </strong>{{ alimento.proteina }}</div>
                    <div><strong>Grasa: </strong>{{ alimento.grasa }}</div>
                    <div><strong>Fibra: </strong>{{ alimento.fibra }}</div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let alimento"> 
                <button fxFlex="45px" fxLayoutAlign="center center" color="accent" mat-raised-button (click)="detalleAlimento(alimento.codigo_alimento)" matTooltip="Ver detalles del Alimento">
                    <mat-icon>info</mat-icon>
                </button> 
                <button fxFlex="45px" 
                        fxLayoutAlign="center center" 
                        color="primary" 
                        mat-raised-button
                        (click)="agregarAlimento(alimento.codigo_alimento, cantidad.value)" 
                        matTooltip="Agregar este alimento a la dieta">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsMobile"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsMobile;"></mat-row>
        </mat-table>
        </div>
        <mat-paginator #paginator
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
    </mat-paginator>
