<div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
  <h2 mat-dialog-title>
    <strong>DETALLES NUTRITIVOS DEL ALIMENTO</strong>
  </h2>
  <mat-dialog-content>
    <form [formGroup]="firstFormGroup">
      <div fxLayout="column">
        <!-- PARTE 1 -->
        <div fxLayoutAlign="space-evenly center" fxLayout.xs="column">
          <!-- DESCRIPCION -->
          <mat-form-field fxFlex="50%">
            <input matInput placeholder="Descripcion del alimento" formControlName="descripcion" required>
          </mat-form-field>
          <!-- TIPO DE ALIMENTO -->
          <mat-form-field>
            <mat-select placeholder="Tipo" formControlName="tipo" required>
              <mat-option *ngFor="let tipo of tiposAlimento" [value]="tipo.valor">
                {{tipo.facevalue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- PARTE 2 -->
        <div fxLayoutAlign="space-evenly center" fxLayout.xs="column">
          <!-- MEDIDA CASERA Y UNIDAD -->
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field fxFlex="35%">
              <input matInput placeholder="Medida casera" formControlName="casera" required>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-select placeholder="Unid." formControlName="caseraMedida" required>
                <mat-option *ngFor="let medida of medidasCaseras" [value]="medida.valor">
                  {{medida.facevalue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- MEDIDA REAL Y UNIDAD -->
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field fxFlex="35%">
              <input matInput placeholder="Medida real" formControlName="real" required>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-select placeholder="Unid." formControlName="realMedida" required>
                <mat-option *ngFor="let medida of medidasReal" [value]="medida.valor">
                  {{medida.facevalue}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>
        </div>
        <!-- PARTE 3 -->
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
          <!-- HIDRATOS CARBONO -->
          <mat-form-field>
            <input matInput placeholder="Hidratos de Carbono" formControlName="hidratos" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- PROTEINAS -->
          <mat-form-field>
            <input matInput placeholder="Proteinas" formControlName="proteinas" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- GRASAS -->
          <mat-form-field>
            <input matInput placeholder="Grasas" formControlName="grasas" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- SODIO -->
          <div fxLayout="row">
            <mat-form-field>
              <input matInput placeholder="Sodio" formControlName="sodio" required>
              <mat-hint align="start">
                <strong>(en miligramos)</strong>
              </mat-hint>
            </mat-form-field>      
          </div>
          <!-- POTASIO -->
          <mat-form-field>
            <input matInput placeholder="Potasio" formControlName="potasio" required>
            <mat-hint align="start">
              <strong>(en miligramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- FOSFORO -->
          <mat-form-field>
            <input matInput placeholder="Fosforo" formControlName="fosforo" required>
            <mat-hint align="start">
              <strong>(en miligramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- CALCIO -->
          <mat-form-field>
            <input matInput placeholder="Calcio" formControlName="calcio" required>
            <mat-hint align="start">
              <strong>(en miligramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- HIERRO -->
          <mat-form-field>
            <input matInput placeholder="Hierro" formControlName="hierro" required>
            <mat-hint align="start">
              <strong>(en miligramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- COLESTEROL -->
          <mat-form-field>
            <input matInput placeholder="Colesterol" formControlName="colesterol" required>
            <mat-hint align="start">
              <strong>(en miligramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- PURINAS -->
          <mat-form-field>
            <input matInput placeholder="Purinas" formControlName="purinas" required>
            <mat-hint align="start">
              <strong>(en miligramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- FIBRA -->
          <mat-form-field>
            <input matInput placeholder="Fibra" formControlName="fibras" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- AGUA -->
          <mat-form-field>
            <input matInput placeholder="Agua" formControlName="agua" required>
            <mat-hint align="start">
              <strong>(en gramos)</strong>
            </mat-hint>
          </mat-form-field>
          <!-- AGUA -->
          <mat-form-field>
            <input matInput placeholder="Calorias" formControlName="calorias" required>
          </mat-form-field>
        </div>
      </div>    
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxLayout.xs="column" fxLayoutAlign="center center">
      <button mat-button (click)="agregarAlimento()">
        <mat-icon>restaurant_menu</mat-icon>Guardar Alimento</button>
      <button mat-button>
        <mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
  </mat-dialog-actions>
  
</div>
