<div *ngFor="let alimento of detalleAlimentoObservable">
  <form fxLayout="column" 
        fxLayoutGap="10px"
        fxLayoutAlign="center center"
        [formGroup]="formulario">      
      
    <h2 mat-dialog-title>
      <strong>DETALLES NUTRITIVOS DEL ALIMENTO Cod. {{ alimento.codigo_alimento }}</strong>
    </h2>
    <mat-dialog-content>
      <div fxLayoutAlign="space-evenly center" fxLayout.xs="column">
        <mat-form-field fxFlex.gt-sm="400px">
          <input  matInput
                  placeholder="Descripcion" 
                  formControlName="descripcion">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Tipo de Alimento" 
                      formControlName="tipo"
                      [compareWith]="compareByValue ? compareObjectsByValue : compareByReference">
            <mat-option *ngFor="let t of tipos" [value]="t.valor" >
              {{t.facevalue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="space-evenly center" fxLayout="row wrap">
        <mat-form-field>
          <input  matInput
                  placeholder="Medida casera ({{ alimento.medida_casera_unidad }})" 
                  type="number"
                  formControlName="casera">
        </mat-form-field>
        
        <mat-form-field>
          <input  matInput
                  placeholder="Medida unitaria ({{ alimento.medida_real_unidad }})" 
                  type="number"
                  formControlName="real">
        </mat-form-field>
          
        <mat-form-field>
          <input  matInput
                  placeholder="Hidratos de Carbono ({{ alimento.unidad_medida_hidratos_carbono }})" 
                  type="number"
                  formControlName="hidratos">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Proteinas ({{ alimento.unidad_medida_proteina }})" 
                  type="number"
                  formControlName="proteinas">
        </mat-form-field>
        
        <mat-form-field>
          <input  matInput
                  placeholder="Grasas ({{ alimento.unidad_medida_grasa }})" 
                  type="number"
                  formControlName="grasas">
        </mat-form-field>
                
        <mat-form-field>
          <input  matInput
                  placeholder="Sodio ({{ alimento.unidad_medida_sodio }})"
                  type="number"
                  formControlName="sodio">
        </mat-form-field>        

        <mat-form-field>
          <input  matInput
                  placeholder="Potasio ({{ alimento.unidad_medida_potasio }})" 
                  type="number"
                  formControlName="potasio">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Fosforo ({{ alimento.unidad_medida_fosforo }})" 
                  type="number"
                  formControlName="fosforo">
        </mat-form-field>
        
        <mat-form-field>
          <input  matInput
                  placeholder="Calcio ({{ alimento.unidad_medida_calcio }})" 
                  type="number"
                  formControlName="calcio">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Hierro ({{ alimento.unidad_medida_hierro }})" 
                  type="number"
                  formControlName="hierro">
        </mat-form-field>
          
        <mat-form-field>
          <input  matInput
                  placeholder="Colesterol ({{ alimento.unidad_medida_colesterol }})" 
                  type="number"
                  formControlName="colesterol">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Purinas ({{ alimento.unidad_medida_purinas }})" 
                  type="number"
                  formControlName="purinas">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Fibra ({{ alimento.unidad_medida_fibra }})" 
                  type="number"
                  formControlName="fibras">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Agua ({{ alimento.unidad_medida_agua }})" 
                  type="number"
                  formControlName="agua">
        </mat-form-field>

        <mat-form-field>
          <input  matInput
                  placeholder="Calorias" 
                  type="number"
                  formControlName="calorias">
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="column">
      <div fxLayout="row"> 
        <button mat-raised-button color="primary" (click)="editarAlimento()"><mat-icon> {{ formulario.pristine ? 'edit' : 'save' }} </mat-icon> {{ formulario.pristine ? 'Editar' : 'Guardar' }} </button>
        <button mat-raised-button color="accent" (click)="eliminarAlimento(alimento.codigo_alimento)"><mat-icon>delete</mat-icon>Eliminar</button>
      </div>
      <br>
      <button mat-raised-button (click)="onCloseCancel()"><mat-icon>close</mat-icon>Cerrar</button>
    </mat-dialog-actions>
  </form>
  
</div>
